/* Config */
:root {
    --color-1: rgb(58, 161, 165);
    --color-2: rgb(27, 187, 139);
    --color-3: rgb(0, 156, 104);
    --color-4: rgb(14, 109, 73);
    --color-5: rgb(6, 83, 51);
    --color-6: rgb(1, 61, 21);

    --sections: 6;
    --shadow-color: #00000088;
    --section-shadow: 0 2px 8px var(--shadow-color);
}

/* Fonts */
@font-face {
    src: url("fonts/NotoSans-Regular.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Italic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Light.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-LightItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-Bold.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("fonts/NotoSans-BoldItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Noto Sans", Times, sans-serif;
    font-weight: normal;
    color: #ffffff;
}

html, body {
    scrollbar-color: var(--color-1) transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-1);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: var(--color-1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #a9d1c1, #2d4b47 70%);
    background-attachment: fixed;
}

#page-container {
    width: 66%;
    height: 100%;
}

nav {
    box-shadow: var(--section-shadow);
    padding-inline: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: calc(var(--sections) + 1);
    width: 66%;
    height: 4rem;
    background-color: var(--color-1);
    border-bottom: 4px solid rgb(34, 117, 128);
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px var(--shadow-color);
}

nav ul li:hover {
    transform: translateX(-2px) translateY(-2px);
}

nav ul li:hover a {
    text-shadow: 4px 4px 1px var(--shadow-color);
}

nav div {
    filter: drop-shadow(2px 2px var(--shadow-color));
    display: flex;
    align-items: center;
}

nav img {
    display: inline;
    height: 2rem;
    margin-right: 0.5rem;
}

nav h2 {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 50%;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

#banner img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    transition-property: transform;
}

/* Main */
.content {
    scroll-margin-top: 1rem;
    padding-inline: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.content h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);
}

.content a, footer a {
    color: rgb(255, 172, 218);
    text-shadow: 0 0 2px rgb(216, 69, 150);
}

.content a:hover, footer a:hover {
    color: rgb(255, 206, 244);
    text-shadow: 0 0 2px rgb(238, 95, 173);
}

code {
    padding: 0rem 0.25rem;
    background-color: #00000033;
    border-radius: 2px;
}

strong {
    font-weight: bold;
}

#main {
    margin-bottom: 5rem;
}

#main > * {
    margin-block: -2rem;
    padding-block: 2rem;
    position: relative;
    z-index: 3;
}

#main > *::before {
    box-shadow: var(--section-shadow);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main > *:nth-child(2n)::before {
    transform: skewY(1deg);
}

#main > *:nth-child(2n-1)::before {
    transform: skewY(-1deg);
}

#main > *:nth-child(1) {
    z-index: calc(var(--sections) - 0);
}

#main > *:nth-child(2) {
    z-index: calc(var(--sections) - 1);
}

#main > *:nth-child(3) {
    z-index: calc(var(--sections) - 2);
}

#main > *:nth-child(4) {
    z-index: calc(var(--sections) - 3);
}

#main > *:nth-child(5) {
    z-index: calc(var(--sections) - 4);
}

#main > *:nth-child(6) {
    z-index: calc(var(--sections) - 5);
}

#main > *:nth-child(1)::before {
    background-color: var(--color-1);
}

#main > *:nth-child(2)::before {
    background-color: var(--color-2);
}

#main > *:nth-child(3)::before {
    background-color: var(--color-3);
}

#main > *:nth-child(4)::before {
    background-color: var(--color-4);
}

#main > *:nth-child(5)::before {
    background-color: var(--color-5);
}

#main > *:nth-child(6)::before {
    background-color: var(--color-6);
}

#countdown {
    transform-origin: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-1deg);
    height: 7rem;
}

#countdown::before {
    transform: skewY(0) !important;
}

#timer {
    position: relative;
}

#timer #clock {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px var(--shadow-color);
}

#timer #next-event {
    display: inline;
    position: absolute;
    top: 1rem;
    width: max-content;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

#schedule table {
    border-spacing: 0.5rem;
}

#schedule table th, #schedule table td {
    box-shadow: 3px 3px var(--shadow-color);
    padding: 0.5rem 1rem;
}

#schedule tr td:first-child {
    text-align: end;
}

#schedule th {
    background-color: rgb(0, 146, 114);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

#schedule td {
    background-color: rgb(0, 116, 90);
}

#rules ul {
    list-style-position: inside;
    list-style-type: square;
}

#scoring h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);
}

#scoring p, #scoring table {
    margin-bottom: 1.5rem;
}

#scoring table {
    border-collapse: collapse;
    box-shadow: 3px 3px 4px 1px var(--shadow-color);
    margin-top: 0.5rem;
}

#scoring table tr, #scoring table td, #scoring table th {
    padding: 0.5rem 0.5rem;
}

#scoring table tr:nth-child(odd) td:first-child {
    border-right: 3px solid rgb(9, 104, 64);
}

#scoring table tr:nth-child(even) td:first-child, #scoring table th:first-child {
    border-right: 3px solid rgb(13, 117, 74);
}

#scoring table tr:nth-child(odd) {
    background-color: rgb(13, 117, 74);
}

#scoring table th, #scoring table tr:nth-child(even) {
    background-color: rgb(9, 104, 64);
}

#criteria td:first-child, #penalties th {
    font-weight: bold;
}

#scoring p:last-child {
    margin-top: 2rem;
}

#footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    height: 5rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

@media (max-width: 1000px) {
    nav {
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    nav ul {
        display: none;
    }

    nav div {
        font-size: 1rem;
    }

    #banner {
        height: 30%;
        margin-top: 0;
    }

    #page-container {
        width: 80%;
    }

    .content {
        padding-inline: 1rem;
    }

    #timer #clock {
        display: block;
        font-size: 2rem;
    }

    #timer #next-event {
        display: block;
        position: relative;
        top: 0;
        margin-left: unset;
        text-align: center;
        width: 100%;
        text-shadow: 1px 1px var(--shadow-color);
    }
}
