/* Config */
:root {
    --color-1: #91c500;
    --color-2: rgb(27, 187, 139);
    --color-3: rgb(0, 156, 104);
    --color-4: rgb(14, 109, 73);
    --color-5: rgb(6, 83, 51);
    --color-6: rgb(1, 61, 21);
    --color-7: rgb(58, 161, 165);

    --color-link: rgb(255, 169, 147);
    --color-link-hover: rgb(255, 204, 192);

    --color-main: var(--color-7);

    --sections: 6;
    --shadow-color: #00000088;
    --section-shadow: 0 2px 8px var(--shadow-color);
}

/* Fonts */
@font-face {
    src: url("fonts/NotoSans-Regular.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Italic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Light.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-LightItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-Bold.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("fonts/NotoSans-BoldItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Noto Sans", Times, sans-serif;
    font-weight: normal;
    color: #ffffff;
}

html, body {
    scrollbar-color: var(--color-main) transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-main);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: var(--color-main);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #94d3ce, #2d474b 70%);
    background-attachment: fixed;
}

#page-container {
    width: 66%;
    height: 100%;
}

nav {
    box-shadow: var(--section-shadow);
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: calc(var(--sections) + 1);
    width: 66%;
    height: 4rem;
    background-color: var(--color-main);
    border-bottom: 4px solid rgb(34, 117, 128);
    font-size: 1.25rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a, nav a {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px var(--shadow-color));
}

nav ul li a.important {
    color: var(--color-1);
}

nav ul li:hover a, nav a:hover {
    transform: translateX(-2px) translateY(-2px);
    filter: drop-shadow(4px 4px 1px var(--shadow-color));
}

nav a {
    display: flex;
    align-items: center;
}

nav a img {
    display: inline;
    height: 2rem;
    margin-right: 0.5rem;
}

nav a h2 {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

#about {
    box-shadow: var(--section-shadow);
    font-weight: bold;
    text-shadow: 2px 2px var(--shadow-color);
    font-size: 1.1rem;
    margin-top: 4rem;
    text-align: center;
    background-color: rgb(94, 195, 199);
    border-bottom: 4px solid rgb(66, 165, 168);
    padding: 0.25rem;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#banner img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    transition-property: transform;
}

/* Main */
.content {
    scroll-margin-top: 1rem;
    padding-inline: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.content h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);
}

.content a, footer a {
    color: var(--color-link);
}

.content a:hover, footer a:hover {
    color: var(--color-link-hover);
}

code {
    padding: 0rem 0.25rem;
    background-color: #00000033;
    border-radius: 2px;
}

strong {
    font-weight: bold;
}

#theme {
    transform-origin: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 3rem;
}

#theme div, #theme span#word  {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 3px 3px var(--shadow-color);
    text-transform: uppercase;
}

#theme span#word {
    font-size: 2.5rem;
}

#theme > * {
    transform: skewY(1deg);
    font-size: 1rem;
    text-shadow: 1px 1px var(--shadow-color);
}

#main {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#main > * {
    margin-block: -2rem;
    padding-block: 2rem;
    position: relative;
    z-index: 3;
}

#main > *::before {
    box-shadow: var(--section-shadow);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main > *:nth-child(2n)::before {
    transform: skewY(-1deg);
}

#main > *:nth-child(2n-1)::before {
    transform: skewY(1deg);
}

#main > *:nth-child(1) {
    z-index: calc(var(--sections) - 0);
}

#main > *:nth-child(2) {
    z-index: calc(var(--sections) - 1);
}

#main > *:nth-child(3) {
    z-index: calc(var(--sections) - 2);
}

#main > *:nth-child(4) {
    z-index: calc(var(--sections) - 3);
}

#main > *:nth-child(5) {
    z-index: calc(var(--sections) - 4);
}

#main > *:nth-child(6) {
    z-index: calc(var(--sections) - 5);
}

#main > *:nth-child(7) {
    z-index: calc(var(--sections) - 6);
}

#main > *:nth-child(1)::before {
    background-color: var(--color-1);
}

#main > *:nth-child(2)::before {
    background-color: var(--color-2);
}

#main > *:nth-child(3)::before {
    background-color: var(--color-3);
}

#main > *:nth-child(4)::before {
    background-color: var(--color-4);
}

#main > *:nth-child(5)::before {
    background-color: var(--color-5);
}

#main > *:nth-child(6)::before {
    background-color: var(--color-6);
}

#main > *:nth-child(7)::before {
    background-color: var(--color-7);
}

#countdown {
    padding-top: 2rem;
    transform-origin: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    position: relative;
}

#timer #clock {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px var(--shadow-color);
}

#timer #next-event {
    display: inline;
    position: absolute;
    top: 1rem;
    width: max-content;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

#timer #next-event a {
    color: var(--color-link);
    font-weight: bold;
}

#timer #next-event a:hover {
    color: var(--color-link-hover);
}

#winners {
    display: flex;
    width: 75%;
    align-items: center;
    flex-direction: column;
}

#winners > h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px var(--shadow-color);
}

#winners div {
    display: flex;
    position: relative;
}

.package {
    border-radius: 5px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.package h2 {
    margin: 0.5rem 1rem;
    position: absolute;
    text-shadow: 1px 1px var(--shadow-color);
}

.package img {
    width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
}

.package::after {
    position: absolute;
    content: attr(data-place);
    color: white;
    bottom: 0;
    right: 0;
    margin: 0.5rem 1rem;
    text-shadow: 1px 1px var(--shadow-color);
}

.package[data-place="1st"] {
    --scale: 1.1;
    transform: scale(var(--scale));
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.package[data-place="2nd"] {
    --scale: 1;
}

.package[data-place="3rd"] {
    --scale: 0.9;
    transform: scale(var(--scale));
}

.package:hover {
    transform: scale(calc(var(--scale) * 1.1));
    box-shadow: 0 4px 10px var(--shadow-color);
}

#winners > a {
    margin-top: 1rem;
    color: var(--color-link);
}

#winners > a {
    margin-top: 1rem;
    color: var(--color-link);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

#winners > a:hover {
    color: var(--color-link-hover);
}

#schedule table {
    border-spacing: 0.5rem;
}

#schedule table th, #schedule table td {
    box-shadow: 3px 3px var(--shadow-color);
    padding: 0.5rem 1rem;
}

#schedule tr td:first-child {
    text-align: end;
}

#schedule th {
    background-color: rgb(0, 146, 114);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

#schedule td {
    background-color: rgb(0, 116, 90);
}

#rules ul {
    list-style-position: inside;
    list-style-type: square;
}

#rules blockquote {
    background-color: var(--color-4);
    padding: 0.2rem 0.5rem;
    border-left: 0.5rem solid var(--color-5);
    margin: 1.25rem 0 0.5rem;
}

#scoring h2 {
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);
}

#scoring p, #scoring table {
    margin-bottom: 1.5rem;
}

#scoring table {
    border-collapse: collapse;
    box-shadow: 3px 3px 4px 1px var(--shadow-color);
    margin-top: 0.5rem;
    --table-color-1: rgb(25, 143, 94);
    --table-color-2: rgb(20, 124, 81);
}

#scoring table tr, #scoring table td, #scoring table th {
    padding: 0.5rem 0.5rem;
}

#scoring table tr:nth-child(odd) td:first-child {
    border-right: 3px solid var(--table-color-1);
}

#scoring table tr:nth-child(even) td:first-child, #scoring table th:first-child {
    border-right: 3px solid var(--table-color-2);
}

#scoring table tr:nth-child(odd) {
    background-color: var(--table-color-2);
}

#scoring table th, #scoring table tr:nth-child(even) {
    background-color: var(--table-color-1);
}

#criteria td:first-child, #penalties th {
    text-shadow: 1px 1px var(--shadow-color);
    font-weight: bold;
}

#prizes h2 {
    margin-top: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--shadow-color);
}

.prize {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 1px var(--shadow-color);
}

.prize p {
    font-size: 1.1rem;
}

.prize .prize-title {
    font-weight: bold;
    text-shadow: 2px 2px var(--shadow-color);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.prize sub {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
}

.prize img {
    width: 25%;
}

.prize #shirts {
    display: flex;
    width: 100%;
    justify-content: center;
}

.prize #shirts img {
    margin: 0.5rem;
    box-shadow: 3px 3px 4px 1px var(--shadow-color);
}

#footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    height: 5rem;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 1000px) {
    nav {
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    nav ul {
        display: none;
    }

    nav div {
        font-size: 1rem;
    }

    #about {
        margin-top: 0;
    }

    #banner {
        height: 30%;
    }

    #page-container {
        width: 80%;
    }

    .content {
        padding-inline: 1rem;
    }

    #timer #clock {
        display: block;
        font-size: 2rem;
    }

    #timer #next-event {
        display: block;
        position: relative;
        top: 0;
        margin-left: unset;
        text-align: center;
        width: 100%;
        text-shadow: 1px 1px var(--shadow-color);
    }
}
